﻿@model WebsiteLoLNews.Models.Comment

@using (Html.BeginForm("Create","Comment", new {idpost=ViewData["idpost"]})) 
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comment</legend>

        <div><b>Nội dung</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

       

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
