﻿@model WebsiteLoLNews.Models.Post

@{
    ViewBag.Title = "Tạo bài viết mới";
}

<h2>Tạo bài viết mới</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        <div><b>Tiêu đề</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div><b>Nội dung</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        

        <div><b>Người tạo</b></div>
        <div class="editor-field">
            @Html.DropDownList("UserProfileUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserProfileUserId)
        </div>

        <div><b>Tag</b></div>
        <div class="editor-field">
            @Html.DropDownList("TagID", String.Empty)
            @Html.ValidationMessageFor(model => model.TagID)
        </div>

        <p>
            <input type="submit" value="Tạo mới" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Quay về", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
