﻿@model WebsiteLoLNews.Models.Post

@{
    ViewBag.Title = "Xóa";
}

<h2>Xóa</h2>

<h3>Bạn thực sự muốn xóa?</h3>
<fieldset>
    <legend>Post</legend>

    <div><b>Tiêu đề</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div><b>Nội dung</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

   

    <div><b>Người tạo</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div><b>Tag</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tag.Title)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Xóa" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
