﻿@model WebsiteLoLNews.Models.Post

@{
    ViewBag.Title = "Xem chi tiết";
}

<h2>Xem chi tiết</h2>

<fieldset>
    <legend>Post</legend>

    <div><b>Tiêu đề</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div><b>Nội dung</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div><b>Ngày tạo</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostCreated)
    </div>

    <div><b>Người tạo</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    
</fieldset>
@Html.Partial("_addComment", new WebsiteLoLNews.Models.Comment(), ViewData)
<fieldset>
<legend>
<button>Bình luận và góp ý</button>
</legend>
@foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated).Take(20))
{
    <div class="display-field">
    <p><i><b>@Html.DisplayFor(x=>comment.UserProfile.UserName):</b>@Html.DisplayFor(m=>comment.Body)</i></p>
    </div> 
}
</fieldset>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id=Model.PostID }) |
    @Html.ActionLink("Quay về", "Index")
</p>
