﻿@model IEnumerable<WebsiteLoLNews.Models.Post>

@{
    ViewBag.Title = "Trang chủ";
}

<h2>TIN NHANH LIÊN MINH HUYỀN THOẠI</h2>

<p>
    @Html.ActionLink("Tạo bài viết mới", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag.Title)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.PostID }) |
            @Html.ActionLink("Xem chi tiết", "Details", new { id=item.PostID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.PostID })
        </td>
    </tr>
}

</table>
