﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - TIN NHANH LIÊN MINH HUYỀN THOẠI</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <img src="~/Images/Untitled1.png" />
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                            <li>@Html.ActionLink("Tin tức", "Index", "Post")</li>
                            <li>@Html.ActionLink("Kết quả", "Result", "Home")</li>
                            <li>@Html.ActionLink("Lịch thi đấu", "Schedule", "Home")</li>
                            <li>@Html.ActionLink("Tải game", "About", "Home")</li>
                            <li>@Html.ActionLink("Hỗ trợ", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Product by KanTa</p>
                    <p>Ho Chi Minh City University of Technology and Education</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
