﻿@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>HotLine</h3>
    </header>
    <p>
        <span class="label">Phone:</span>
        <span>0616575667</span>
    </p>
    <p>
        <span class="label">Mobile:</span>
        <span>01688468653</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="kanta.kanta0112@gmail.com">kanta.kanta0112@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:kanta.kanta0112@gmail.com">kanta.kanta0112@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        1287/6 Pham The Hien St. Ward 6, District 8, Ho Chi Minh City
    </p>
</section>