﻿@{
    ViewBag.Title = "Trang chủ";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

        </div>
    </section>
    }
    <h3>Tiêu điểm giai đoạn tiền mùa giải 2015</h3>
<div>
    “Giai đoạn tiền mùa giải hàng năm là cơ hội để đưa Liên Minh Huyền Thoại tiến lên một bước mới, giúp người chơi có những trải nghiệm tuyệt vời trong các trận chiến của mình. Năm nay, chúng tôi quyết định đem sự đa dạng chiến thuật tới cho các bạn. Để xem thêm thông tin chi tiết, hãy đón xem đoạn phim Tiêu điểm Tiền mùa giải 2015!"
</div>





            
