﻿@{
    ViewBag.Title = "Result";
}

<h2>Kết quả</h2>
@Html.Raw(ViewBag.Message)
<article style="color:red;border:0.5px solid #da05fb">
    <p><b>
        Xem kết quả các giải đấu nổi bật tại đây.
    </b></p>
    <p><b>Giải đấu Việt Nam Championship Series A</b></p>
    <p>Ngày thi đấu 6/12/2014</p>
    <img src="~/Images/ket-qua-06-12-copy.jpg" />
    <p>Ngày thi đấu 7/12/2014</p>
    <img src="~/Images/ket-qua-07-12.jpg" />
    <p><b>
        <a href="https://www.youtube.com/playlist?list=PLhHpDe1DHrCoqkxWZLvQsqPAiznXA1xXz" title=""> Xem lại các trận đấu tại đây TV</a></b>
    </p>

    
    <img src="~/Images/bxh-w4.jpg" />
    <p><b>Bảng xếp hạng tạm thời các đội sau tuần thi đấu thứ 4.</b></p></article>
