﻿@{
    ViewBag.Title = "Schedule";
}

<h2>Lịch thi đấu</h2>
@Html.Raw(ViewBag.Message)
<article style="color:blue;border:0.5px solid #da05fb">
    <p>
        Để xem trực tiếp các giải đấu bạn vui lòng chọn đường dẫn tương ứng.
    </p>
    <p><b>Giải đấu Việt Nam Championship Series A</b></p>
    <p>Lịch thi đấu</p>
    <img src="~/Images/lich.jpg" />
    <p><b>
        <a href="http://vetv.vn/" title="Việt Nam Esports Television"> Việt Nam Esports TV</a></b>
    </p>

    <p><b>Xem lại các trận đấu thuộc giải đấu Intel Extreme Masters Mùa 9 - San Jose</b></p>
    <img src="~/Images/IEM-San-Jose.jpg" />
    <p><b>
        <a href="https://www.youtube.com/playlist?list=PLhHpDe1DHrCp_rYfiRlGm3GoOS4fE09Wr" title="Intel Extreme Masters Mùa 9 - San Jose"> >>> Xem lại các trận đấu</a></b>
    </p>

    <p><b>Theo dõi lịch Stream của các cao thủ</b></p>
    <img src="~/Images/twitch_logo3.jpg" />
    <p><b>
        <a href="http://www.twitch.tv/directory/game/League%20of%20Legends" title="Twitch TV"> >>> Twicth TV</a></b>
    </p></article>

